.main{
    display: flex;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    background-color: var(--neutral-very-light);
}

.main .section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
}

.main .section .info{
    text-align: center;
    margin: 20px 0px 30px;
}

.main .section .info .title{
    font-size: 29px;
    font-weight: 200;
    letter-spacing: 0.6px;
    color: var(--neutral-very-dark);
}

.main .section .info .featured-title{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: var(--neutral-very-dark);
    margin-bottom: 10px;
}

.main .section .info .main-text{
    font-weight: 400;
    margin: auto;
    width: 500px;
    color: var(--neutral-grayish);
}

.main .section .card-set .card{
    width: 300px;
    border-radius: 5px;
    box-shadow: -2px 2px 4px var(--neutral-grayish), 2px 0px 4px var(--neutral-grayish);
    background-color: #fff;
    margin-bottom: 20px;
}

.main .section .card-set .card .title-card{
    font-size: 18px;
    font-weight: 600;
    color: var(--neutral-very-dark);
    margin: 18px 20px;
}

.main .section .card-set .card .card-text{
    font-size: 14px;
    font-weight: 400;
    color: var(--neutral-grayish);
    width: 300px;
    margin: 0px 20px 10px;
}

.main .section .card-set .card img{
    margin: 0px 220px 10px;
}

.main .section .card-set .card.one{
    border-top: 3px solid var(--card-one);
}

.main .section .card-set .card.two{
    border-top: 3px solid var(--card-two);
}

.main .section .card-set .card.three{
    border-top: 3px solid var(--card-three);
}

.main .section .card-set .card.four{
    border-top: 3px solid var(--card-four);
}

